In [1]:
print 'Hello Tuesday'

Hello Tuesday

# Getting Started with Python
## We have done nothing so far...
* installed Python
* Started Ipython notebook

Create some variables in Python

In [4]:
i = 4 #int
print 'i'
type(i)

i

int

In [5]:
f = 4.1 #float
type(f)

float

In [6]:
b = True #boolean variable

In [7]:
s = "This is a string!"

In [8]:
print s

This is a string!

Advanced python types

In [12]:
l = [3,2,1,4]

In [13]:
print l

[3, 2, 1, 4]

In [14]:
d = {'foo': 1, 'bar':2.2, 's':'a dictionary'}

In [15]:
print d

{'s': 'a dictionary', 'foo': 1, 'bar': 2.2}

In [26]:
if i == 1 and f >4:
    print "i equals 1 and f is greater than 4"
elif i!=1:
    print "i is not equals to 1"
else:
    print "something else is wrong"

i is not equals to 1

In [27]:
print l

[3, 2, 1, 4]

In [28]:
for element in l:
    print element

3
2
1
4

In [31]:
counter = 6
while counter < 10:
    print counter
    counter += 1

6
7
8
9

In [1]:
## creating functions in Python
import graphlab

In [2]:
sf = graphlab.SFrame('people-example.csv')

[INFO] 1450214930 : INFO:     (initialize_globals_from_environment:282): Setting configuration variable GRAPHLAB_FILEIO_ALTERNATIVE_SSL_CERT_FILE to C:\Miniconda2\envs\dato-env\lib\site-packages\certifi\cacert.pem
1450214930 : INFO:     (initialize_globals_from_environment:282): Setting configuration variable GRAPHLAB_FILEIO_ALTERNATIVE_SSL_CERT_DIR to
This non-commercial license of GraphLab Create is assigned to breeze.du@gmail.com and will expire on December 14, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-6728 - Server binary: C:\Miniconda2\envs\dato-env\lib\site-packages\graphlab\unity_server.exe - Server log: C:\Users\Jeff\AppData\Local\Temp\graphlab_server_1450214930.log.0
[INFO] GraphLab Server Version: 1.7.1

PROGRESS: Finished parsing file C:\Users\Jeff\Downloads\people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.027024 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\Users\Jeff\Downloads\people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.024023 secs.

In [3]:
import numpy

In [4]:
sf #we can view first few lines of the table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [5]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [6]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:59379/index.html
Opening Canvas in default web browser.

In [7]:
graphlab.canvas.set_target('ipynb')

In [8]:
sf['age'].show(view='Categorical')

In [9]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [10]:
sf['age']

dtype: int
Rows: 7
[24L, 23L, 22L, 23L, 23L, 22L, 25L]

In [11]:
sf['age'].mean()

23.142857142857146

In [44]:
sf['age'].max()

25L

 Create new columns in SFrame

In [45]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [12]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [13]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [48]:
sf['age'] + 2

dtype: int
Rows: 7
[26L, 25L, 24L, 25L, 25L, 24L, 27L]

In [14]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [15]:
sf['Country'].show()

In [16]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [18]:
transform_country('Brazil and others')

'Brazil and others'

In [21]:
transform_country('USA')

'United States'

In [22]:
sf['Country'].apply(transform_country)

RuntimeError: Runtime Exception. Unable to evaluate lambdas. Lambda workers did not start.

In [57]:
sf['Country'] = sf['Country'].apply(transform_country)

RuntimeError: Runtime Exception. Unable to evaluate lambdas. Lambda workers did not start.

In [ ]:
sf['Country'].show()